.vs/
MyHome.Core/node_modules/
MyHome.Core/bin/
MyHome.Core/obj/
MyHome.Core.Shared/obj/
MyHome.Core.Shared/bin/
.vscode/
MyHome.Core/project.lock.json
MyHome.Core/Project_Readme.html
MyHome.Core/MyHome.Core.xproj.user
MyHome.Core.Shared/project.lock.json
MyHome.Core.Plugin.DeviceAK1/obj/
MyHome.Core.Plugin.DeviceAK1/bin/
MyHome.Core.Plugin.DeviceAK1/project.lock.json
MyHome.Core.Plugin.DeviceAK1/MyHome.Core.Plugin.DeviceAK1.xproj.user
MyHome.Core/Properties/PublishProfiles/
*.log
MyHome.Core.Plugin.ValueKeeper/obj/
MyHome.Core.Plugin.ValueKeeper/bin/
MyHome.Core.Shared/MyHome.Core.Shared.xproj.user
MyHome.Core.Plugin.ValueKeeper/MyHome.Core.Plugin.ValueKeeper.xproj.user
MyHome.Core/.editorconfig
MyHome.Core.Plugin.ValueKeeper/project.lock.json
MyHome.Core/wwwroot/
MyHome.Core/Plugins/
MyHome.Angular2/node_modules/
Backup/
MyHome.Core.Plugin.iSpyManager/obj/
MyHome.Core.Plugin.iSpyManager/bin/
MyHome.Angular2/-e2e/
UpgradeLog.htm
MyHome.Core.Plugin.DeviceAK1/out/Autofac.dll
MyHome.Core.Plugin.DeviceAK1/out/
MyHome.Core.Plugin.iSpyManager/out/
MyHome.Core.Plugin.ValueKeeper/out/
MyHome.Core.Shared/out/
MyHome.Core/out/
MyHome.Core/MyHome.Core.csproj.user
MyHome.Angular2/wwwroot/
MyHome.Core/bower_components/
MyHome.Core.Web/bin/
MyHome.Core.Web/MyHome.Core.Web.csproj.user
MyHome.Core.Web/DataBase.db3
MyHome.Core.Web/obj/
MyHome.Core.Web/Properties/PublishProfiles/FolderProfile.pubxml
MyHome.Core.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
