<div class="row" *ngFor="let row of preset.rows">
    <div [hidden]="!isEditMode" class="row-manager">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-raised btn-success dropdown-toggle" dropdownToggle [ripple]>
                ...
                <span class="caret"></span>
            </button>
            <ul dropdownMenu class="dropdown-menu">
                <li *ngFor="let size of colsizes">
                    <a href="#" (click)="addColumn(row, size + 1)">Добавить колонку, размер {{size + 1}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-{{column.size}}" *ngFor="let column of row.columns">
        <div class="well panel" (drop)="onDrop($event, row, column)" (dragover)="ondragover($event)">
            <div *ngFor="let element of column.elements" [hidden]="!isEditMode" >
                <element-edit [elementId]="element.id">
                </element-edit>
            </div>

            <div *ngFor="let element of column.elements" [hidden]="isEditMode" >
                <element-default *ngIf="element.viewType == 'default' || element.viewType == undefined" [elementId]="element.id"></element-default>
            </div>
        </div>
    </div>

</div>

<element-panel 
    [hidden]="!showElementPanels || !isEditMode"
    >
</element-panel>