<div class="btn-group" dropdown>
	<button [ripple] dropdownToggle
		class="btn btn-primary btn-raised" 
		draggable="true"
		(dragstart)="onDragstart($event, element)"
		title="{{element.id}} - {{element.name}}"
		>
		{{element.name}}
		<span class="caret"></span>
	</button>
	<ul dropdownMenu class="dropdown-menu">
		<li><a href="#" (click)="changeType(element, 'default')" [ngClass]="{'bold': element.viewType == 'default'}">Стандартный</a></li>
		<li><a href="#" (click)="changeType(element, 'thermometer')" [ngClass]="{'bold': element.viewType == 'thermometer'}">Термометр</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#" (click)="delete(column, element)" class="">Удалить</a></li>
	</ul>
</div>
