@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ng2-ripple-directive/src/scss/ripple.scss';
@import '~bootstrap-material-design/dist/css/bootstrap-material-design.css';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

[hidden] {
    display: none !important;
}

.pad-left-0 {
    padding-left: 0px;
}